#total-display{grid-area: display;}
//#display{grid-area: display;}
#equals{grid-area: equals;}
#clear {grid-area: clear;}
#add {grid-area: add;}
#subtract {grid-area: subtract;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#zero {grid-area: zero;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#decimal {grid-area: decimal;}
