
.text-link{
    color: crimson;
}
.descWrapper{
    padding-bottom: 1.5rem; 
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .description{
      text-align: center;
      padding: 1rem;
      color: rgb(163, 163, 163);         
   }
}
#projects{
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

  h2{
    font-size: 3.5rem;
    margin: 2.5rem 0px 3.5rem;
    color: crimson;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .projects-grid{
    align-self: center;
    justify-content: space-evenly;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,380px);
    grid-template-rows: 320px;
    grid-auto-flow: row;
    grid-gap: 2rem;
    @media(max-width:820px){
      grid-template-columns: repeat(auto-fit, 260px);
      grid-template-rows: 220px;
    }

    .project{      
      display: grid;  
      position: relative;
      text-align: center; 
      box-shadow: 0px 0px 4px gray;
      border-radius: 4px;
      border: solid 7px black;
      border-bottom: none;
      transition: 1s;
        .img-container{        
          grid-area: 0/0/1/0;
          overflow: hidden;
          .icon{
            position: absolute;
            left:35%;
            top:30%;
            font-size: 6rem;
            color: transparent;  
            z-index: 5;         
            text-align: center;
            transition: 1s;
          }

        }      
        .project-title{
          grid-area: 1/0/2/0;
          text-align: center;
          width: 100%;
          color:white;
          padding: 0.5rem 0px;
          font-size: 1.2rem;
          background-color: black;
          transition: 1s;
        }
        &:hover{
          box-shadow: 0px 0px 10px black;
          border: solid 7px rgb(54, 53, 53);
          border-bottom: none;
          .icon{
            color: crimson;
          }
          .project-title{
            color: crimson;
            background-color: rgb(54, 53, 53);
          } 
        }
        
    }
  }
}

.btn{
    background-color: rgb(54, 53, 53);
    color:white;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    transition: 1s;
    
    &:hover{
      color: crimson;
      background-color: black;
    }
  }
@media (max-width:1000px){
  .projects-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:720){
  hr{
    width: 50%;
  }
}


